<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".KursachApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="HOBBY ALL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kursach">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrainerProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MessengerActivity"
            android:exported="false"
            android:parentActivityName=".TrainerProfileActivity" />
        <activity
            android:name=".ChatsListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="false"
            android:parentActivityName=".TrainerProfileActivity" />
        <activity
            android:name=".MeetingsActivity"
            android:exported="false"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".CreateTrainerProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PhotoViewerActivity"
            android:exported="false"
            android:parentActivityName=".TrainerProfileActivity"
            android:theme="@style/Theme.Kursach" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateGroupActivity"
            android:exported="false"
            android:parentActivityName=".ChatsListActivity" />
        <activity
            android:name=".GroupMessengerActivity"
            android:exported="false"
            android:parentActivityName=".ChatsListActivity" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

</manifest>